/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;

// Background colors: 
$harmon-red: #a92323; // same as jumbotron widget background;
$harmon-darkred: #ad2424;// also set in appearence->customize->colors
$harmon-button: #dd3333; // also set in appearence->customize->colors
$harmon-logo-bkgd: #A42222;
$bkgoundContent: #FFFFFF; // 
$menuBarbkg: #D14719; //

$border-ltgray: #DADADA;
$facebook-blue: #3b579d;
//#ad2424 #ad2424
/* Typography ------------------------------------------ */
